<div class="mat-card-container">

  <mat-card class="mat-card-chart-home">
    <mat-card-subtitle>Home</mat-card-subtitle>
    <mat-card-content>
      <canvas id="canvas">{{chart}}</canvas>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card-chart-car">
    <mat-card-subtitle>Car</mat-card-subtitle>
    <mat-card-content>
      <!--<canvas id="canvas1">{{chart1}}</canvas>-->
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card-chart-wedding">
    <mat-card-subtitle>Wedding</mat-card-subtitle>
    <mat-card-content>
      <!--<canvas id="canvas2">{{chart2}}</canvas>-->
    </mat-card-content>
  </mat-card>
</div>


<p>
  home works!
</p>
