.mat-toolbar-main {
  display: flex;
  width: 100%;
  padding: 0 4px; /* default margin was 0 16px */
}

.mat-button-with-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  vertical-align: middle;
  color: white;
}

.mat-icon-margin {
  margin-right: 5px;
}

.router-link-align-right {
  padding: 8px;
  color: white;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/*.sign-up {
  border-radius: 1px;
  border: 1px solid white;
}*/
