<div class="container">
  <div *ngIf="!loginService.checkLogin()" id="registration-div" class="col-sm-5 form-box">
    <div class="form-bottom">
      <div class="form-bottom">
        <form role="form" #registerForm="ngForm" (ngSubmit)="signIn()">
          <div class="form-group">
            <input type="text" name="form-login" placeholder="Login..." class="form-control" id="form-login"
                   [(ngModel)]="model.username" ngControl="username" required>
          </div>
          <div class="form-group">
            <input type="password" name="form-password" placeholder="Password..." class="form-control" id="form-password"
                   [(ngModel)]="model.password" ngControl="password" required>
          </div>
          <button type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="loginService.checkLogin()">
    <h3>Logged In Successfully! </h3>
    <h2>Welcome back, {{currentUserName}}!</h2>
    <button type="button" class="btn btn-dark" (click)="LoginService.logout()">Logout</button>
  </div>
</div>
