
<div class="mat-card-container">

  <mat-card>
    <mat-card-content>Home overview</mat-card-content>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>Current month</mat-card-content>
    <mat-card-content>
      <canvas id="canvas">{{currentMonthChart}}</canvas>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>Last month</mat-card-content>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>Year</mat-card-content>
    <mat-card-content>
    </mat-card-content>
  </mat-card>


</div>
