<mat-card>
  <mat-card-subtitle>Add category</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" #categoryForm="ngForm">

      <mat-form-field class="mat-input-form">
        <input matInput placeholder="Name"
               required
               formControlName="name" name="name" id="name">
      </mat-form-field>
      <br>
      <mat-form-field class="mat-input-form">
        <mat-select placeholder="Module" required formControlName="module">
          <mat-option *ngFor="let module of modules" [value]="module">
            {{module.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button type="reset" class="btn btn-secondary">Clear</button>
      <button type="submit" (click)="onSubmit()" class="btn btn-success">Add</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-subtitle>Categories</mat-card-subtitle>
  <mat-card-content>
    <!--<div class="example-container mat-elevation-z8">-->

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element" contenteditable="true"
            (blur)="editElementName($event.target.textContent, element)">
          {{element.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Module</th>
        <td mat-cell *matCellDef="let element">{{element.module}}</td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <button id="options-button" matTooltip="You can edit custom categories only.">Options</button>
        </th>
        <td mat-cell *matCellDef="let row">
          <button type="button" class="btn btn-primary" *ngIf="row.isCustom"
                  (click)="editElement(row)">Edit</button>
          <button type="button" class="btn btn-danger" *ngIf="row.isCustom"
                  (click)="deleteElement(row)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <!--</div>-->
  </mat-card-content>
</mat-card>

<!--<div class="mat-elevation-z8">-->

<!--<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">-->

<!--&lt;!&ndash; Position column &ndash;&gt;-->
<!--<ng-container matColumnDef="position">-->
<!--<th mat-header-cell *matHeaderCellDef mat-sort-header>No. </th>-->
<!--<td mat-cell *matCellDef="let element">{{element.position}}</td>-->
<!--</ng-container>-->

<!--&lt;!&ndash;&ndash;&gt;-->
<!--<ng-container matColumnDef="name">-->
<!--<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>-->
<!--<td mat-cell *matCellDef="let element">{{element.name}}</td>-->
<!--</ng-container>-->

<!--&lt;!&ndash; Weight Column &ndash;&gt;-->
<!--<ng-container matColumnDef="weight">-->
<!--<th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
<!--</ng-container>-->

<!--&lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--<ng-container matColumnDef="symbol">-->
<!--<th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
<!--</ng-container>-->

<!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--</table>-->

<!--</div>-->


<!--<p>-->
<!--categories works!-->
<!--</p>-->
