<link rel="stylesheet" type="text/css" href="https://npmcdn.com/angular2-toaster@6.1.0/toaster.css" />
<toaster-container></toaster-container>

<mat-card>
  <mat-card-subtitle>Add spend</mat-card-subtitle>
  <mat-card-content>

    <form [formGroup]="form" #spendingForm="ngForm">

      <mat-form-field class="mat-input-form">
        <input matInput placeholder="Name"
               required
               formControlName="name" name="name" id="name">
      </mat-form-field>
      <br>

      <mat-form-field class="mat-input-form">
        <input matInput placeholder="Value" type="number"
               required
               formControlName="value" name="value" id="value">
      </mat-form-field>
      <br>

      <mat-form-field class="mat-input-form">
        <mat-select placeholder="Category" required formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field class="mat-input-form">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>

      <button id="button-reset" type="reset" class="btn btn-secondary">Clear</button>
      <button type="submit" (click)="onSubmit()" class="btn btn-success">Add</button>
    </form>


  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-subtitle>Spending</mat-card-subtitle>
  <mat-card-content>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="75">No.</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name.</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.isEditing">
            {{element.name}}
          </ng-container>
          <mat-form-field class="my-input" *ngIf="element.isEditing">
          <input matInput value="{{element.name}}"
                 (blur)="editSpendingName($event.target.value, element)">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.isEditing">
            {{element.value}}
          </ng-container>
          <mat-form-field class="my-input" *ngIf="element.isEditing">
          <input matInput value="{{element.value}}"
                 (blur)="editSpendingValue($event.target.value, element)">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (sort)="compareCategories()">Category</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.isEditing">
            {{element.category.name}}
          </ng-container>

          <mat-form-field class="my-input" *ngIf="element.isEditing">
            <mat-select [compareWith]="compareCategories" [(value)]="element.category">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="my-th">Date</th>
        <td mat-cell *matCellDef="let element" class="my-td">
          <ng-container *ngIf="!element.isEditing">
            {{element.date1 | date: "dd.MM.y"}}
          </ng-container>
          <mat-form-field class="my-input" *ngIf="element.isEditing">
            <input matInput [matDatepicker]="picker1"
                   [value]="element.date1" (dateChange)="editDateValue($event.target.value, element)"
                   >
            <!--(blur)="editSpendingDate($event.target.value, element)"-->
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-primary" *ngIf="!element.isEditing" (click)="editElement(element)">Edit</button>
          <button type="button" class="btn btn-success" *ngIf="element.isEditing" (click)="saveEditElement(element)">Save</button>

          <!--<button type="button" class="btn btn-danger" *ngIf="!element.isEditing" (click)="deleteElement(element)">Delete</button>-->
          <button type="button" class="btn btn-danger" *ngIf="!element.isEditing" (click)="confirmDeleteDialog(element)">Delete</button>
          <button type="button" class="btn btn-secondary" *ngIf="element.isEditing" (click)="cancelEditElement(element)">Cancel</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </mat-card-content>

</mat-card>

<!--<input matInput [matDatepicker]="picker2" placeholder="Date" [value]="date2.value">-->
<!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
<!--<mat-datepicker #picker2></mat-datepicker>-->
