<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar class="mat-toolbar-main" color="primary">
  <button mat-button class="mat-button-with-icon" (click)="changeVisibilityOfSideNav()">
    <mat-icon class="mat-icon mat-icon-margin" role="img" aria-hidden="true">menu</mat-icon>
  </button>

  <button mat-button class="mat-button-with-icon" routerLink="/home">
    <mat-icon class="mat-icon mat-icon-margin" role="img" aria-hidden="true">home</mat-icon>
    Home
  </button>

  <span class="example-fill-remaining-space"></span>

  <div *ngIf="loginService.checkLogin()" class="username" (click)="editProfileOnClick()">
    Welcome {{loginService.getUsername()}}
  </div>

  <div>
    <a routerLink="/login" routerLinkActive="active" (click)="onClick()" class="router-link-align-right"><b>{{loginService.checkLogin()?
      'Sign Out' :
      'Sign in'}}</b></a>
    <ng-container *ngIf="!loginService.checkLogin()">
      or
      <a routerLink="/register" routerLinkActive="active" class="router-link-align-right"><b>Sign up</b></a>
    </ng-container>
  </div>
</mat-toolbar>
